/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-text span {
  color: #ff0000; 
  font-weight: bold;
}

.about-text p {
  color: #FFFFFF !important;
}